<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cormorant+Garamond|Lobster|Lora|Satisfy&display=swap"
    rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-5">
      <h1>News</h1>
      Location = <%= @location %>
      <div>
      Latitude & Longitude = <%= @geocode_lat %>, <%= @geocode_long %>
    </div>
      </div>

      <div>
      "Today's Forecast:"
<%= "In #{@location}, it is currently #{@current_temperature} degrees and #{@current_summary}." %>
    </div>

      <div>
      "Five Day Forecast:"

<%=
"A high temperature of #{@forecast_daily[0]["temperatureHigh"]} and #{@forecast_daily[0]["summary"].downcase}"
%>

<%=
"A high temperature of #{@forecast_daily[1]["temperatureHigh"]} and #{@forecast_daily[1]["summary"].downcase}"
%>

<%=
"A high temperature of #{@forecast_daily[2]["temperatureHigh"]} and #{@forecast_daily[2]["summary"].downcase}"
%>


<%=
"A high temperature of #{@forecast_daily[3]["temperatureHigh"]} and #{@forecast_daily[3]["summary"].downcase}"
%>


<%=
"A high temperature of #{@forecast_daily[4]["temperatureHigh"]} and #{@forecast_daily[4]["summary"].downcase}"
%>

    </div>

    <div class="container mt-5">
        <a href="/" class="btn btn-success">"Reselect Location"</a>
    </div>

<div>
Title 1: 
<%=
@news_title_1
%>
<a href=<%=
@news_url_1
%>>"Link to Article"</a>
</div>

<div>
Title 2: 
<%=
@news_title_2
%>
<a href=<%=
@news_url_2
%>>"Link to Article"</a>
</div>

<div>
Title 3: 
<%=
@news_title_3
%>
<a href=<%=
@news_url_3
%>>"Link to Article"</a>
</div>

<div>
Title 4: 
<%=
@news_title_4
%>
<a href=<%=
@news_url_4
%>>"Link to Article"</a>
</div>

<div>
Title 5: 
<%=
@news_title_5
%>
<a href=<%=
@news_url_5
%>>"Link to Article"</a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>